@model List<VideoStreaming.Web.Models.VideoVM>
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<div class="col-md-12">
		@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "frmform", @enctype = "multipart/form-data" }))
		{
			<br />
			<table>
				<tr>
					<td width="50px">Video</td>
					<td class="text-center">
						<input type="file" name="file" id="file" />
					</td>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</table>
		}
	</div>
</div>